{% extends 'recipes/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/apple_cake.css' %}">
<h1 id="header">Apple Cake Recipe</h1>

<p>
    <img src="{% static 'img/image.jpg' %}" alt="The Odin Project" height="300" width="auto">
</p>
<div class="center">
    <h3>Apple Butter Spice Cake</h3>

    <p>This popular dessert is centered around the versatile apple, which adds a delightful aroma to a simple cake base
        when
        sliced. Alternatively, apple butter can also work its magic and enhance the flavor profile.
    </p>

    <p>
    <h3>Ingredients</h3>

    <p>
    <h4>Topping:</h4>
    </p>

    <ul>
        <li>1 cup packed brown sugar</li>
        <li>1 teaspoon ground cinnamon</li>
        <li>½ teaspoon ground nutmeg</li>
        <li>½ cup chopped pecans</li>
    </ul>

    <p>
    <h4>Cake:</h4>
    </p>

    <ul>
        <li>2 cups all-purpose flour</li>
        <li>1 teaspoon baking powder</li>
        <li>1 teaspoon baking soda</li>
        <li>1/2 teaspoon salt</li>
        <li>1/2 cup room temperature butter</li>
        <li>1 cup white sugar</li>
        <li>3/4 cup apple butter</li>
        <li>1 teaspoon vanilla extract</li>
        <li>1/2 cup whole bran cereal or wheat germ</li>
        <li>1 cup sour cream</li>
        <li>2 room temperature eggs</li>
    </ul>
    </p>

    <p>
    <h3>Steps:</h3>
    </p>

    <p>
    <ol>
        <li>Preheat the oven to 350 degrees F (175 degrees C) and grease a 9x13-inch pan.</li>
        <li>Mix together the brown sugar, cinnamon, nutmeg, and chopped pecans to make the topping.
        </li>
        <li>Sift together the flour, baking powder, baking soda, and salt.</li>
        <li>In a large bowl with an electric mixer, beat the butter and sugar together until light and fluffy. Add the
            eggs
            one at a time, thoroughly beating each egg into the mixture before adding the next. Mix in the apple butter,
            vanilla, and wheat germ or bran cereal. Add the sifted dry ingredients alternately with the sour cream,
            mixing
            well after each addition.
        </li>
        <li>Pour half of the batter into the prepared pan and sprinkle with half of the topping. Pour the remaining
            batter
            into the pan and top with the rest of the topping.
        </li>
        <li>Bake in the preheated oven until a tester inserted into the center comes out clean, about 40 minutes.
        </li>
    </ol>
    </p>
</div>
{% endblock %}