<!DOCTYPE html>
<html>

    <head>
        <title>The Odin Project</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="index.css">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/recipes/apple_cake/">Apple Cake</a></li>
                <li><a href="/recipes/carrot_cake/">Carrot Cake</a></li>
                <li><a href="/recipes/pumpkin_cake/">Pumpkin Cake</a></li>
            </ul>
        </nav>

        {% block content %}
        {% endblock %}

        <a href="#header">Return to top</a>
    </body>

</html>