{% extends 'recipes/base.html' %}

{% block content %}
<div class="image-container">
    {% if home_page.image %}
    <img src="{{ home_page.image.url }}" alt="{{ home_page.header }}" class="image">
    {% endif %}
    {% if home_page.image2 %}
    <img src="{{ home_page.image2.url }}" alt="{{ home_page.header }}" class="image">
    {% endif %}
    {% if home_page.image3 %}
    <img src="{{ home_page.image3.url }}" alt="{{ home_page.header }}" class="image">
    {% endif %}
</div>
<h1>{{ home_page.header }}</h1>
<ul>
    {% for recipe in recipes %}
    <li><a href="{{ recipe.url }}">{{ recipe.name }}</a></li>
    {% endfor %}
</ul>
<p><a href="#header">Return to top</a></p>
{% endblock %}