{% extends 'recipes/base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pumpkin_cake.css' %}">
<h1 id="header">Pumpkin Cake Recipe</h1>

<p>
    <img src="{% static 'img/image2.jpg' %}" alt="The Odin Project" height="300" width="auto">
</p>

<div class="center">
    <h3>Pumpkin Caramel Bourbon Poke Cake</h3>

    <p>Indulge in the rich and creamy flavors of this pumpkin poke cake, infused with delicious notes of caramel and a
        hint of bourbon for that extra touch of sophistication.</p>

    <p>
    <h3>Ingredients</h3>

    <ul>
        <li>1 cup of pumpkin puree</li>
        <li>3/4 cup of granulated white sugar</li>
        <li>1/2 cup canola oil</li>
        <li>2 eggs</li>
        <li>2 teaspoons of Pumpkin Pie Spice</li>
        <li>1 teaspoon of vanilla extract</li>
        <li>1 cup of all-purpose flour</li>
        <li>1 teaspoon of baking soda</li>
        <li>1 teaspoon of baking powder</li>
        <li>1/4 teaspoon of salt</li>
        <li>1/2 cup of caramel sauce</li>
        <li>1 tablespoon, divided, of bourbon</li>
        <li>1 cup of heavy whipping cream</li>
        <li>1/2 cup of chopped, toasted pecans</li>
    </ul>

    <p>
    <h3>Steps:</h3>
    </p>

    <p>
    <ol>
        <li>Preheat the oven to 350 degrees F (175 degrees C) and prepare an 8-inch square cake pan by lining it with
            parchment paper.
        </li>
        <li>In a mixing bowl, combine pumpkin puree, white sugar, canola oil, eggs, pumpkin pie spice, and vanilla
            extract. Beat the ingredients together until well combined.
        </li>
        <li>In another bowl, sift together all-purpose flour, baking soda, baking powder, and salt. Add the dry
            ingredients to the pumpkin mixture and stir until just combined. Pour the batter into the prepared pan and
            smooth the top with a spatula.
        </li>
        <li>Bake the cake in the preheated oven for 35 to 40 minutes or until a toothpick inserted into the center comes
            out clean.
        </li>
        <li>In a saucepan over low heat, warm up half a cup of caramel sauce and 1 tablespoon of bourbon. Once warmed,
            poke holes evenly over the surface of the cake using a chopstick. Reserve 1 teaspoon of the caramel-bourbon
            mixture and pour the remaining mixture over the cake. Let it cool on a rack.
        </li>
        <li>In a mixing bowl, beat 1 cup of heavy whipping cream and the remaining 1 tablespoon of bourbon using an
            electric mixer until soft peaks form. Spoon the whipped cream over the cake and scatter half a cup of
            chopped toasted pecans on top. Drizzle the reserved caramel-bourbon mixture over the cake.
        </li>
    </ol>
    </p>
</div>
{% endblock %}