<!DOCTYPE html>
<html>
    <head>
        <title>Pumpkin Cake | The Odin Project</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="pum.css">
    </head>

    <body>
        <a href="../index.html">Homepage</a>
        <h1 id="header">Pumpkin Cake Recipe</h1>

        <p class="image">
            <img src="../recipes/image2.jpg" alt="The Odin Project">
        </p>

        <div class="center">
            <h3>Pumpkin Caramel Bourbon Poke Cake</h3>
        
            <p>A rich, creamy pumpkin poke cake with caramel and bourbon.</p>

            <p>
                <h3>Ingredients</h3>

                <ul>
                    <li>1 cup pumpkin puree</li>
                    <li>3-quarter cup white sugar</li>
                    <li>half cup canola oil</li>
                    <li>2 large eggs</li>
                    <li>2 teaspoons pumpkin pie spice</li>
                    <li>1 teaspoon vanilla extract</li>
                    <li>1 cup all-purpose flour</li>
                    <li>1 teaspoon baking soda</li>
                    <li>1 teaspoon baking powder</li>
                    <li>quarter teaspoon salt</li>
                    <li>half cup caramel sauce</li>
                    <li>1 tablespoon bourbon, divided</li>
                    <li>1 cup heavy whipping cream</li>
                    <li>half cup chopped toasted pecans</li>
                </ul>

            <p>
                <h3>Steps:</h3>
            </p>

            <p>
                <ol>
                    <li>Preheat oven to 350 degrees F (175 degrees C). 
                        Line an 8-inch square cake pan with parchment paper.
                    </li>
                    <li>Beat pumpkin puree, sugar, oil, eggs, pumpkin pie, and vanilla extract 
                        together in a bowl.
                    </li>
                    <li>Sift flour, baking soda, baking powder, and salt into a bowl. 
                        Add to the pumpkin mixture; stir until just combined. 
                        Pour into prepared pan; smooth top with a spatula.
                    </li>
                    <li>Bake in the preheated oven until a toothpick inserted into the middle 
                        comes out clean, 35 to 40 minutes.
                    </li>
                    <li>Combine caramel sauce and 1 and a half teaspoons bourbon in a saucepan 
                        over low heat; warm through, about 2 minutes. Poke holes evenly over 
                        the surface of the cake using a chopstick. Reserve 1 teaspoon of the 
                        caramel-bourbon mixture; pour remaining mixture over the cake. 
                        Place on cooling rack.
                    </li>
                    <li>Beat cream and remaining 1 and a half teaspoons bourbon in a bowl using 
                        an electric mixer until soft peaks form. Spoon whipped cream on cake; 
                        scatter pecans and drizzle reserved caramel sauce on top.
                    </li>
            </ol>
        </p>
    </div>

        <a href="#header">Return to top</a>
    </body>
</html>